lib-cmf/src/test/resources/xsd6/gaLitObj.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/test/"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:niem-xs="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:test="http://example.com/test/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#SubsetSchemaDocument"
  version="1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>
      Augment all literal objects with an object
    </xs:documentation>
    <xs:appinfo>
      <appinfo:Augmentation property="test:ObjProp" globalClassCode="LITERAL"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/" schemaLocation="niem/adapters/niem-xs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="niem/utility/structures.xsd"/>
  <xs:complexType name="CCOneType">
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="test:DataProp"/>
          <xs:element ref="test:CCOneAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCTwoType">
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="test:DataProp"/>
          <xs:element ref="test:CCTwoAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ObjType">
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="test:DataProp"/>
          <xs:element ref="test:ObjAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SCOneType">
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SCTwoType">
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TestAssociationType">
    <xs:complexContent>
      <xs:extension base="structures:AssociationType">
        <xs:sequence>
          <xs:element ref="test:DataProp"/>
          <xs:element ref="test:TestAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:attribute name="attProp" type="xs:token"/>
  <xs:element name="CCOneAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CCOneType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CCTwoAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CCTwoType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataProp" type="niem-xs:string" nillable="true"/>
  <xs:element name="ObjAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ObjType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObjProp" type="test:ObjType" nillable="true"/>
  <xs:element name="TestAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for TestAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
