app-niemtran/src/test/resources/augSCwE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/test/"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:j="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:niem-xs="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:t="http://example.com/test/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#ExtensionSchemaDocument"
  version="1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>XML to JSON: augmeent SC with E.</xs:documentation>
    <xs:appinfo>
      <appinfo:Augmentation class="t:SCType" property="t:LitProp"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/" schemaLocation="niem/adapters/niem-xs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="niem/utility/structures.xsd"/>
  <xs:complexType name="CommentRefType">
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="t:LitProp" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LitType" appinfo:referenceCode="IDREF">
    <xs:simpleContent>
      <xs:extension base="niem-xs:token">
        <xs:attribute ref="t:attProp"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MessageType">
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="t:StringProp"/>
          <xs:element ref="t:LitRefs" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SCType">
    <xs:simpleContent>
      <xs:extension base="niem-xs:token"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:attribute name="attProp" type="xs:token"/>
  <xs:element name="LitRefs" type="t:CommentRefType"/>
  <xs:element name="LitProp" type="t:LitType"/>
  <xs:element name="Message" type="t:MessageType"/>
  <xs:element name="StringProp" type="t:SCType"/>
</xs:schema>
