lib-cmf/examples/CrashDriver/message.xsd/PrivacyMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/PrivacyMetadata/2.0/"
  xmlns:priv="http://example.com/PrivacyMetadata/2.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  version="1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>An example of what might be in a privacy metadata namespace</xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="niem/utility/structures.xsd"/>
  <xs:simpleType name="PrivacyCodeType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="MEDICAL"/>
      <xs:enumeration value="PII"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PrivacyMetadataType">
    <xs:sequence>
      <xs:element ref="priv:PrivacyCode" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="structures:id"/>
    <xs:attribute ref="structures:uri"/>
    <xs:attribute ref="structures:ref"/>
    <xs:attribute ref="structures:appliesToParent"/>
  </xs:complexType>
  <xs:element name="PrivacyCode" type="priv:PrivacyCodeType" nillable="true"/>
  <xs:element name="PrivacyMetadata" type="priv:PrivacyMetadataType" nillable="true"/>
</xs:schema>
