app-niemtran/src/test/resources/niem/adapters/niem-gml-externals.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-gml/6.0/"
  version="ps02"
  xml:lang="en-US"
  xsi:schemaLocation="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/ ../utility/appinfo.xsd https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/ ../utility/conformanceTargets.xsd"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#ReferenceSchemaDocument"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:niem-gml="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-gml/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xls="https://docs.oasis-open.org/niemopen/ns/model/external/ogc/xls/1.1.0/dhs-gmo/2.1.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>Subset of NIEM adapter types for geospatial components from GML.</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="GML" literal="Geography Markup Language"/>
      <appinfo:LocalTerm term="Multi" definition="one or more"/>
      <appinfo:LocalTerm term="OGC" literal="Open Geospatial Consortium"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../external/ogc/gml/3.2.1/gml.xsd" appinfo:externalImportIndicator="true">
    <xs:annotation>
      <xs:documentation>Geography Markup Language (GML) version 3.2.1 schemas.  See http://www.opengeospatial.org OGC document 07-036 for documentation: "The Geography Markup Language (GML) was originally developed within the Open Geospatial Consortium, Inc. (OGC). ISO 19136 was prepared by ISO/TC 211 jointly with the OGC."  See http://schemas.opengis.net/gml/ for schemas.</xs:documentation>
    </xs:annotation>
  </xs:import>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="PointAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a 2D or 3D geometric point.  A gml:Point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:Point" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A gml:Point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PolygonAdapterType">
    <xs:annotation>
      <xs:documentation>A data type for a polygon; a geometric surface defined by a single surface patch whose boundary is coplanar.  A gml:Polygon is a special surface that is defined by a single surface patch (see D.3.6). The boundary of this patch is coplanar and the polygon uses planar interpolation in its interior. The elements exterior and interior describe the surface boundary of the polygon.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AdapterType">
        <xs:sequence>
          <xs:element ref="gml:Polygon" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A gml:Polygon is a special surface that is defined by a single surface patch (see D.3.6). The boundary of this patch is coplanar and the polygon uses planar interpolation in its interior.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AreaPointAdapter" type="niem-gml:PointAdapterType" substitutionGroup="nc:AreaRegionAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A location specified by a 2D or 3D geometric point.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AreaPolygonAdapter" type="niem-gml:PolygonAdapterType" substitutionGroup="nc:AreaRegionAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A geospatial polygon.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationGeospatialPointAdapter" type="niem-gml:PointAdapterType" substitutionGroup="nc:LocationGeospatialCoordinateAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A 2D or 3D geometric point.  A gml:Point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
