src/test/resources/xsd/nameinfo-niem/domains/hs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  targetNamespace="http://release.niem.gov/niem/domains/humanServices/5.0/" 
  version="1" 
  xml:lang="en-US" 
  ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument" 
  xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:structures="http://release.niem.gov/niem/structures/5.0/" 
  xmlns:hs="http://release.niem.gov/niem/domains/humanServices/5.0/" 
  xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" 
  xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>Human Services</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="AFCARS" literal="Adoption and Foster Care Analysis and Reporting System (AFCARS)"/>
      <appinfo:LocalTerm term="ASFA" literal="Adoption and Safe Families Act"/>
      <appinfo:LocalTerm term="CFR" definition="Code of Federal Regulations"/>
      <appinfo:LocalTerm term="Comp" literal="Compensation"/>
      <appinfo:LocalTerm term="EBT" literal="Electronic Benefit Transfer"/>
      <appinfo:LocalTerm term="FEIN" literal="Federal Employer Identification Number"/>
      <appinfo:LocalTerm term="FIPS" literal="Federal Information Processing Series"/>
      <appinfo:LocalTerm term="firesetting" definition="A behavior that includes setting fires both accidentally and intentionally."/>
      <appinfo:LocalTerm term="FS" literal="Food Stamps"/>
      <appinfo:LocalTerm term="habilitative" definition="Habilitative services help a person keep, learn, or improve skills and functioning for daily living."/>
      <appinfo:LocalTerm term="ICPC" literal="Interstate Compact on the Placement of Children"/>
      <appinfo:LocalTerm term="ICWA" literal="Indian Child Welfare Act"/>
      <appinfo:LocalTerm term="IV-D" definition="Title IV-D of the Social Security Act"/>
      <appinfo:LocalTerm term="IV-E" definition="Title IV-E of the Social Security Act addressing Federal Payments for Foster Care and Adoption Assistance."/>
      <appinfo:LocalTerm term="NCANDS" literal="National Child Abuse and Neglect Data System"/>
      <appinfo:LocalTerm term="NCIC" literal="National Crime Information Center"/>
      <appinfo:LocalTerm term="NCP" literal="Noncustodial parent"/>
      <appinfo:LocalTerm term="NPI" literal="National Provider Identifier"/>
      <appinfo:LocalTerm term="PARIS" literal="Public Assistance Reporting Information System"/>
      <appinfo:LocalTerm term="Polyvictimization" definition="Multiple victimizations of a person"/>
      <appinfo:LocalTerm term="SSA" literal="Social Security Administration"/>
      <appinfo:LocalTerm term="SSI" literal="Supplemental Security Income"/>
      <appinfo:LocalTerm term="SSN" literal="Social Security Number"/>
      <appinfo:LocalTerm term="TANF" literal="Temporary Assistance to Needy Families"/>
      <appinfo:LocalTerm term="UCCJEA" literal="Uniform Child Custody Jurisdiction and Enforcement Act"/>
      <appinfo:LocalTerm term="VA" literal="Veterans Affairs"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="ChildType">
    <xs:annotation>
      <xs:documentation>A data type for information about a person who has not yet reached the age of legal majority (i.e., adulthood).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ParentChildAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a child and a person who is in a parent role toward that child.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="hs:Child" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:Parent" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PersonOtherKinAssociationCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for describing the nature of the kinship or other close personal relationship from a source person to a target person</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Authority Figure">
        <xs:annotation>
          <xs:documentation>Authority Figure</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Babysitter">
        <xs:annotation>
          <xs:documentation>Babysitter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Brother">
        <xs:annotation>
          <xs:documentation>Brother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Brother-In-Law">
        <xs:annotation>
          <xs:documentation>Brother-In-Law</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Clergy">
        <xs:annotation>
          <xs:documentation>Clergy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Coach">
        <xs:annotation>
          <xs:documentation>Coach</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Domestic Partner">
        <xs:annotation>
          <xs:documentation>Domestic Partner</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Father-in-Law">
        <xs:annotation>
          <xs:documentation>Father-in-Law</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fiance">
        <xs:annotation>
          <xs:documentation>Fiance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fiancee">
        <xs:annotation>
          <xs:documentation>Fiancee</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fictive Kin">
        <xs:annotation>
          <xs:documentation>Fictive Kin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Godfather">
        <xs:annotation>
          <xs:documentation>Godfather</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Godmother">
        <xs:annotation>
          <xs:documentation>Godmother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Granddaughter">
        <xs:annotation>
          <xs:documentation>Granddaughter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Grandson">
        <xs:annotation>
          <xs:documentation>Grandson</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Great-Granddaughter">
        <xs:annotation>
          <xs:documentation>Great-Granddaughter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Great-Grandson">
        <xs:annotation>
          <xs:documentation>Great-Grandson</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maternal Aunt">
        <xs:annotation>
          <xs:documentation>Maternal Aunt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maternal Female Cousin">
        <xs:annotation>
          <xs:documentation>Maternal Female Cousin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maternal Grandfather">
        <xs:annotation>
          <xs:documentation>Maternal Grandfather</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maternal Grandmother">
        <xs:annotation>
          <xs:documentation>Maternal Grandmother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maternal Great Grandfather">
        <xs:annotation>
          <xs:documentation>Maternal Great Grandfather</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maternal Great Grandmother">
        <xs:annotation>
          <xs:documentation>Maternal Great Grandmother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maternal Male Cousin">
        <xs:annotation>
          <xs:documentation>Maternal Male Cousin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maternal Uncle">
        <xs:annotation>
          <xs:documentation>Maternal Uncle</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mother-in-Law">
        <xs:annotation>
          <xs:documentation>Mother-in-Law</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Neighbor">
        <xs:annotation>
          <xs:documentation>Neighbor</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Nephew">
        <xs:annotation>
          <xs:documentation>Nephew</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Niece">
        <xs:annotation>
          <xs:documentation>Niece</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paternal Aunt">
        <xs:annotation>
          <xs:documentation>Paternal Aunt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paternal Female Cousin">
        <xs:annotation>
          <xs:documentation>Paternal Female Cousin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paternal Grandfather">
        <xs:annotation>
          <xs:documentation>Paternal Grandfather</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paternal Grandmother">
        <xs:annotation>
          <xs:documentation>Paternal Grandmother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paternal Great Grandfather">
        <xs:annotation>
          <xs:documentation>Paternal Great Grandfather</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paternal Great Grandmother">
        <xs:annotation>
          <xs:documentation>Paternal Great Grandmother</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paternal Male Cousin">
        <xs:annotation>
          <xs:documentation>Paternal Male Cousin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Paternal Uncle">
        <xs:annotation>
          <xs:documentation>Paternal Uncle</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Roommate">
        <xs:annotation>
          <xs:documentation>Roommate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Significant Other">
        <xs:annotation>
          <xs:documentation>Significant Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sister">
        <xs:annotation>
          <xs:documentation>Sister</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sister-In-Law">
        <xs:annotation>
          <xs:documentation>Sister-In-Law</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Teacher">
        <xs:annotation>
          <xs:documentation>Teacher</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unrelated Friend">
        <xs:annotation>
          <xs:documentation>Unrelated Friend</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonOtherKinAssociationCodeType">
    <xs:annotation>
      <xs:documentation>A data type for describing the nature of the kinship or other close personal relationship from a source person to a target person</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="hs:PersonOtherKinAssociationCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonOtherKinAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship that is a kinship or other close personal association between the source object and the target object. The relationship between a parent and a child should be captured using the ParentChildAssociation</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="hs:PersonOtherKinAssociationCategoryAbstract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Child" type="hs:ChildType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who was an unmarried minor at the time of his or her involvement in a judicial proceeding or non-judicial program.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Parent" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A father or mother of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ParentChildAssociation" type="hs:ParentChildAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a child and a person who is in a parent role toward that child.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOtherKinAssociation" type="hs:PersonOtherKinAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A directed association that describes the kinship or other close personal relationship between the source object and the target object. The relationship between a parent and a child should be captured using the ParentChildAssociation</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOtherKinAssociationCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for describing the kinship or other close personal relationship that exists from the source person to the target person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOtherKinAssociationCategoryCode" type="hs:PersonOtherKinAssociationCodeType" substitutionGroup="hs:PersonOtherKinAssociationCategoryAbstract">
    <xs:annotation>
      <xs:documentation>A code list that describes the nature of the kinship or other close personal relationship from a source person to a target person.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
